---
BasedOnStyle: LLVM
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
ColumnLimit: 85
IndentWidth: 4
TabWidth: 4
UseTab: Never
InsertBraces: true
PointerAlignment: Left 
AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: Never
Cpp11BracedListStyle: false
AllowShortLambdasOnASingleLine: None
AllowShortFunctionsOnASingleLine: None
AllowShortEnumsOnASingleLine: false
PenaltyReturnTypeOnItsOwnLine: 1000000